.main_right {
    background-color: rgb(119, 199, 245);
    border-radius: 20px;
}

.fish_tank {
    width: 250px;
}

.care_tips_title {
    text-align: center;
}

.care_tip {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}