.Martins_Fish {
    text-align: center;
    border: 2px solid rgb(219, 190, 116);
    background-image: linear-gradient(45deg, rgb(237, 238, 175), rgb(230, 182, 163));
    border-radius: 10px;
    width: 160px;
    display: flex;
    margin: auto;
    padding: 20px;
    font-family: 'Original Surfer', cursive;
    color: rgb(108, 118, 209)
}


/* .fish_section {
    margin: 40px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
} */


/* .fish {
    border: 2px dotted goldenrod;
    margin: 20px;
    padding: 20px;
} */

.fishList {
    margin: 40px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.card {
    border: 2px dotted goldenrod;
    margin: 20px;
    padding: 20px;
}

img {
    width: 200px;
}